extends _layout

append body

  nav
    .title 한국어 연습하기

  section.intro
    :markdown
      I was studying Korean and couldn't find a website to practice with, so I made one!

  noscript(class="bad news") You'll need JavaScript for this website, sorry!

  .choices

    mixin choice(href, name)
      a(class="btn", href=href)= name

    +choice("present-tenses.html", "Simple present-tense sentences")
    +choice("sino-korean-numbers.html", "Sino-Korean numbers")
    +choice("native-numbers.html", "Native numbers")
    +choice("weekdays.html", "Days of the week")
