extends _layout

append body

  nav
    .left
      a.back.btn(href="/")
    .title Present tense sentences

  #q-and-a-container

  script#sentence-data(type="application/json").
    {

      "subjects": [
        { "english": "I", "korean": "제" },
        { "english": "Yumi", "korean": "유미" },
        { "english": "Minji", "korean": "민지" },
        { "english": "Mina", "korean": "미나" },
        { "english": "Jimin", "korean": "지민" },
        { "english": "Yuna", "korean": "유나" },
        { "english": "Cho", "korean": "초" },
        { "english": "Sandy", "korean": "산디" },
        { "english": "Teacher", "korean": "선생님" },
        { "english": "Mother", "korean": "어머니" },
        { "english": "Father", "korean": "아버지" }
      ],

      "locations": [
        { "english": "home", "korean": "집" },
        { "english": "restaurant", "korean": "식당" },
        { "english": "library", "korean": "도서관" }
      ],

      "verbs": [
        {
          "english": { "i": "eat", "you": "eat", "it": "eats" },
          "korean": "먹어요",
          "objects": [
            { "english": "food", "korean": "음식" },
            { "english": "kimchi", "korean": "김치" }
          ]
        },
        {
          "english": { "i": "write", "you": "write", "it": "writes" },
          "korean": "써요"
        },
        {
          "english": { "i": "sing", "you": "sing", "it": "sings" },
          "korean": "노래해요"
        }
      ],

      "adjectives": [
        { "english": "late", "korean": "늦어요" },
        { "english": "good", "korean": "좋아요" }
      ]

    }

  +jquery()
  +javascript("/sentences.js")
