include _helpers

nav
  .left
    a.back.btn(href="/")
  .title Native numbers

#q-and-a-container

+javascript("/vendor/scripts/jquery.js")
+javascript("/assets/scripts/q-and-a.js")
+javascript("/assets/scripts/native-numbers.js")
