html
  font-family Lato, 'Segoe UI', Avenir, 'Helvetica Neue', Helvetica, sans-serif
  font-size 16pt

*
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	-ms-box-sizing border-box

a
  text-decoration none
