@charset 'UTF-8'

@import normalize
@import my-reset
@import variables

@import components

body
  width 100%
  max-width 600px
  margin 0 auto

body > nav
  display table
  width 100%
  padding .25em 0

  .left, .right, .title
    display table-cell
    vertical-align middle
    text-align center

  .left, .right
    max-width 25%

  .title
    text-transform uppercase
    font-size 36pt
    font-weight 900

.back
  &:before
    content: '\25c0'

form.options
  margin-bottom 1em
  padding 1em
  background-color light-grey

.vocab-question
  margin-bottom 1em

.vocab-answer
  input
    width 100%
