@import normalize
@import my-reset
@import variables

body
  width 95%
  max-width 600px
  margin 0 auto

body > nav
  padding .5em 0
  border-bottom 5px solid korea-red
  color korea-blue

  h1
    text-transform uppercase
    text-align center
